Source: ros-groovy-blob
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 7.0.50~), libbz2-dev, ros-groovy-catkin, ros-groovy-message-generation, ros-groovy-roscpp
Homepage: http://github.com/tu-darmstadt-ros-pkg/blob_tools
Standards-Version: 3.9.2

Package: ros-groovy-blob
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev, ros-groovy-message-runtime, ros-groovy-roscpp
Description: blob provides a new message type blob/Blob for binary data.
